<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>
<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h2>Editar Artigo</h2>
    </div><!-- card-header -->

    <div class="card-body">
      <form method="POST" action="/articles/update">
        <input type="hidden" name="id" value="<%= article.id %>">
        <input name="title" class="form-control" type="text" placeholder="Defina o titulo do artigo" value="<%= article.title %>"><br>
        <textarea name="body" rows="40" id="article" class="form-control" placeholder="Escreva seu artigo"></textarea><br>
        <label>Categoria</label>
        <select name="category" class="form-control">
          <% categories.forEach((category) => { %>

            <% if(category.id == article.categoryId ){ %>
              <option value="<%= category.id %>" selected><%= category.title %></option>
            <% } else { %>
              <option value="<%= category.id %>"><%= category.title %></option>
            <% } %>
           <% }) %>
        </select><br>
        <button class="btn btn-success">Atualizar</button>
      </form>  
    </div><!-- card-body -->

  </div><!-- card -->
</div><!-- Container -->

<div class="content" style="display: none;">
  <%- article.body %>
</div>

<%- include('../../partials/footer.ejs'); %>

<!-- tinyMCE -->
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: "#article",
    language: 'pt_BR',
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    ],
    // Função quando o editor for carregado
    init_instance_callback: () => {
      tinymce.get("article").setContent(
        document.getElementsByClassName('content')[0].innerHTML
      );
    }
  })
</script> 